/* To optimize space and sizes for mobile phones */
@media only screen and (max-width: 400px){
    li cite{
        max-width: 900px !important;
    }
}

.navigation a.authorNav{
    background-color: #d0dff4;
    color: #4b648a;
}

li cite {
    max-width: 1200px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}